/**********************
*reset.css
**********************/
html {
	color: #000;
	background: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,button,textarea,select,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}
a{text-decoration:none;}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var
	{
	font: inherit
}

del,ins {
	text-decoration: none
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: baseline
}

sub {
	vertical-align: baseline
}

fieldset{
	margin:5px;
	padding:5px 8px;
	border:1px solid #9e9e9e;
}
legend {
	color: #000;
	padding:5px 8px;
	border:1px solid #9e9e9e;
}
fieldset .line{
	display:block;
}
fieldset label{
	display:inline-block;
	margin:3px 5px;
	padding:5px 10px;
	width:120px;
	vertical-align:top;
	text-align:right;
}
fieldset .field{
	display:inline-block;
	padding:5px 10px;
}
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {
	color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
	vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

input,textarea,select {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	background-color: #fff;
}

textarea,select {
	padding: 4px;
}
input {
	padding: 2px 6px;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only
	screen and (min-resolution: 144dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
     * Don't show links for images, or javascript/internal links
     */
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group; /* h5bp.com/t */
	}
	tr,img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}
/**************************
*global style
**************************/
body {
	font: 12px/1.125 Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 18px;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.mgb20 {
	margin-bottom: 20px
}

.no-mgt {
	margin-top: 0 !important;
}

.no-mgr {
	margin-right: 0 !important;
}

.contenttitle2 {
	border-bottom: 2px solid #FB9337;
	display: inline-block;
	_display: inline;
	zoom: 1;
	margin: 20px 0;
	padding: 0 20px 5px 0;
}

.contenttitle2 h4 {
	color: #666;
	font-weight: bold;
}

.hide {
	display: none;
}

/************************
* style of table
*************************/
.stdtable {
	width: 100%;
}

.odd {
	background-color: #F3F3F3;
}

.even {
	background-color: #FCFCFC;
}

.stdtable th,.stdtable td {
	line-height: 21px;
	vertical-align: middle;
	color: #333;
	text-align: center;
}


.stdtable thead th,.stdtable thead td {
	padding: 7px 10px;
	border: 1px solid #DDD;
	font-weight: bolder;
}

.stdtable tbody tr td {
	border: 1px solid #DDD;
	color: #666;
	padding: 5px 8px;
}

.overviewtable tbody tr td {
	font-size: 14px;
	font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif;
}

.stdtable .stdheader {
	color: #666;
	background-color: #C3C3C3;
	border: 1px solid #AAA;
}

.inherittdtable td{
	text-align:inherit;
}
.righttdtable,.righttdtable td{
	text-align:right;
}
.right{
	text-align:right;
}


/****************************
*style of button
*****************************/
.button {
	display: inline-block;
	text-decoration: none;
	outline: none;
}

.button span {
	padding: 5px 15px;
	display: inline-block;
	border: 1px solid #ddd;
	background: white;
	font-weight: bold;
	font-size: 12px;
	color: #666;
	line-height: 21px;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 white;
	box-shadow: 0 1px 0 white;
}

.button:hover {
	text-decoration: none;
	color: #333;
}

.button:hover span {
	background-color: #F9F9F9;
}

.button:active span {
	border-color: #ccc;
}

/***************************
*style of grid 
*****************************/
.one-half,.one-third,.two-third,.three-fourth,.one-fourth,.one-fifth,.two-fifth,.three-fifth,.four-fifth,.one-sixth,.five-sixth
	{
	position: relative;
	margin-right: 3%;
	_margin-right: 1.5%;
	float: left;
}

.one-half {
	width: 48.5%;
}

.one-third {
	width: 31.16%;
}

.two-third {
	width: 65.83%;
}

.three-fourth {
	width: 74.5%;
}

.one-fourth {
	width: 22.5%;
}

/***************************
*style of top header
****************************/
.topheader {
	background: url("/assets/admin/images/default/topheaderbg.png") repeat scroll 0 0
	#34445E;
	border-bottom: 1px solid #303F59;
	padding: 8px 10px;
	position: relative;
	z-index: 100;
}

.topheader .left h1.logo {
	color: #FB9337;
	float: left;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.topheader .left h1.logo span {
	color: #FFFFFF;
}

.topheader .left .slogan {
	border-left: 1px solid #606D84;
	color: #6A778D;
	float: left;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	font-style: italic;
	margin: 2px 10px;
	padding: 8px 10px;
}

.topheader .right {
	position: absolute;
	right: 10px;
	top: 7px;
	z-index: 199;
}

.topheader .right .userinfo {
	float: left;
}

.userinfo {
	background: #32415A;
	border-bottom: 1px solid #445775;
	cursor: pointer;
	padding: 6px 18px 6px 6px;
	position: relative;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #2B384E inset;
}

.userinfo:hover {
	background-color: #2D3B53;
}

.userinfo img {
	width: 25px;
	height: 25px;
	border: 1px solid #B9C1CE;
	vertical-align: middle;
	border-radius: 2px;
}

.userinfo span {
	color: #F9F9F9;
	display: inline-block;
	font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif;
	padding: 0 5px;
	font-weight: bold;
	padding: 0 12px 0 5px;
}

.userinfo:hover span {
	color: #FFF;
}

.userinfo em {
	border-width: 5px;
	border-style: solid dashed dashed;
	border-color: #FFF transparent transparent;
	line-height: 0;
	font-size: 0;
	position: absolute;
	right: 8px;
	top: 18px;
}

.userinfodrop {
	position: absolute;
}

.userinfodrop {
	background: #FFFFFF;
	border: 1px solid #F1F1F1;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
	position: absolute;
	right: 0;
	top: 43px;
	z-index: 200;
	display: none;
}

.userinfodrop em {
	border-color: transparent transparent #FFF;
	border-style: dashed dashed solid;
	border-width: 8px;
	position: absolute;
	right: 20px;
	top: -16px;
	line-height: 0;
	font-size: 0;
}

.userdata h4 {
	color: #2D3C54;
}

.userdata .email {
	color: #999999;
	font-size: 11px;
	width:130px;
}

.userdata dl {
	margin-top: 22px;
}

.userdata dd {
	display: block;
	margin-bottom: 1px;
}

.userdata dd a {
	display: block;
	background: #F7F7F7;
	color: #666666;
	padding: 10px;
	text-decoration: none;
	border-radius: 3px;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.userdata dd a:hover {
	background: #FB9337;
	color: #FFF;
}

/*************************
*style of header
**************************/
.header {
	background: url("/assets/admin/images/default/headerbg.png") repeat scroll 0 0
		#485B79;
	border-bottom: 5px solid #FB9337;
	box-shadow: 0 1px 0 #50627F inset;
	min-height: 50px;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

.headermenu {
	border-right: 1px solid #576A85;
	list-style: none outside none;
	display: inline-block;
	*display: inline;
	zoom: 1;
	overflow: hidden;
}

.headermenu li {
	border-left: 1px solid #576A85;
	border-right: 1px solid #394962;
	float: left;
	position: relative;
}
/*.headermenu li.current:after{
   content: "";
   border-width: 6px;
   border-style: dashed dashed solid; 
   border-color: transparent transparent #FB9337;
   position: absolute;
   right: 45px;
   top: 75px;

}*/
.headermenu li a {
	min-width: 80px;
	_width: 80px;
	text-align: center;
}

.headermenu li a {
	color: #FFFFFF;
	display: block;
	padding: 17px 10px;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
}

.headermenu li a:hover {
	background: url("/assets/admin/images/default/bghover.png");
	box-shadow: 0 1px 0 #4F627E inset;
}

.headermenu li.current a {
	background: url("/assets/admin/images/default/arrowactive.png") no-repeat scroll bottom transparent;
	box-shadow: 0 1px 0 #4F627E inset;
}

.headermenu li .icon {
	display: block;
	height: 30px;
	position: relative;
	margin: 0 0 10px;
}

.headermenu li a span.icon-flatscreen {
	background: url("/assets/admin/images/icons/flatscreen.white.png") no-repeat scroll center transparent;
}

.headermenu li a span.icon-chart {
	background: url("/assets/admin/images/icons/chart.white.png") no-repeat scroll center transparent;
}

.headermenu li a span.icon-message {
	background: url("/assets/admin/images/icons/message.white.png") no-repeat scroll center transparent;
}

.headermenu li a span.icon-setting {
	background: url("/assets/admin/images/icons/icon-setting.png") no-repeat scroll center transparent;
}

.headermenu li a span.icon-users {
	background: url("/assets/admin/images/icons/icon-users.png") no-repeat scroll center transparent;
}

.headerwidget {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 0;
}

.headerwidget .costs {
	background: #32415A;
	border-bottom: 1px solid #516686;
	min-width: 200px;
	overflow: hidden;
	padding: 8px 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #29374E inset;
}

.costs .todaycost {
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin-right: 12px;
}

.costs .remainsum {
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.headerwidget .costs h4 {
	font-weight: normal;
	font-size: 12px;
	color: #EEE;
	margin-bottom: 8px;
}

.headerwidget .costs h2 {
	color: #F6E4A5;
	font-weight: bold;
}
/*********************
*style of mainwrapper
**********************/
.mainwrapper {
	position: relative;
}

/***************************
*style of vertical navigate
***************************/
.vernav {
	position: absolute;
	top: 0;
	left: 0;
	_left: -230px;
	z-index: 100;
	width: 230px;
	overflow: hidden;
}

.collapsed {
	width: 35px;
}

.vernav dl dd {
	border-bottom: 1px solid #EEE;
	position: relative;
}

.vernav dl dd a {
	background: url("/assets/admin/images/icons/icons_sprite.png") no-repeat 5px 8px
		#FFF;
	_background-image: none;
	font-size: 12px;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	display: block;
	padding: 0 10px;
	color: #32415A;
	text-decoration: none;
	outline: none;
}

.vernav dl dd a.overview {
	background-position: 5px -135px;
}

.vernav dl dd.current a.menu {
	background-color: #F9F9F9;
	color: #FB9337;
}

.vernav dl dd a:hover {
	background-color: #F9F9F9;
}

.vernav dl dd .arrow-down {
	border-color: #888888 transparent transparent;
	border-style: solid dashed dashed;
	border-width: 5px;
	font-size: 0;
	line-height: 0;
	position: absolute;
	right: 12px;
	top: 16px;
}

.vernav dl dd .arrow-up {
	border-color: transparent transparent #888888;
	border-style: dashed dashed solid;
	border-width: 5px;
	font-size: 0;
	line-height: 0;
	position: absolute;
	right: 12px;
	top: 12px;
}

.vernav dl dd.current .arrow-up {
	border-color: transparent transparent #FB9337;
}

.vernav dl dd.current .arrow-down {
	border-color: #FB9337 transparent transparent;
}

.vernav dl dl {
	margin: 0;
	padding-left: 25px;
	border-top: 1px solid #EEE;
	display: block;
}

.vernav dl .current dl {
	display: block;
}

.vernav dl dl dd {
	border-bottom: none;
}

.vernav dl dl dd a {
	font-size: 12px;
	font-weight: normal;
	color: #999;
	background: white url("/assets/admin/images/line.dashed.png") no-repeat -25px center;
	border-left: 1px dashed #CCC;
	padding-left: 10px;
}

.vernav dl dl dd a:hover {
	color: #666;
	background: #FFF;
}

.vernav dl dl dd.current a,.vernav dl dl dd.current a:hover {
	color: #FB9337;
}

.iconmenu dl dd a {
	padding-left: 35px;
}

.togglemenu {
	background: url("/assets/admin/images/menucollapsed.png") no-repeat scroll center 0 transparent;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	cursor: pointer;
	display: block;
	height: 21px;
	margin: 10px;
}

.togglemenu_collapsed {
	background-position: center -21px;
	border-width: 0;
	margin: 10px 5px;
}

/***********************
*style of centercontent
************************/
.centercontent {
	margin-left: 230px;
	position: relative;
	border-left: 1px solid #CCC;
	min-height: 730px;
	overflow: hidden;
}

.pageheader {
	background: url("/assets/admin/images/default/noise.white.png") repeat scroll 0 0 transparent;
	padding: 20px;
	position: relative;
}

.contentwrapper {
	padding: 20px;
}

.noticebar {
	height: 51px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	line-height: 21px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 0 1px 0 rgba(250, 250, 250, 0.8);
	-webkit-box-shadow: inset 0 1px 0 rgba(250, 250, 250, 0.8);
	box-shadow: inset 0 1px 0 rgba(250, 250, 250, 0.8);
}

.noticebar h3 {
	font-weight: bold;
}

.noticebar p {
	margin: 15px 10px 0 55px;
	font-size: 13px;
	color: #333;
}

.announcement {
	border: 1px solid #FBE187;
	background: #FFFFDF url("/assets/admin/images/icons/announcement.png") no-repeat 10px 10px;
	color: #95673F;
	height: auto;
}

.announcement h3 {
	margin: 15px 10px 10px 55px;
}

.announcement p {
	margin: 10px 10px 15px 55px;
}

.announcement p a {
	color: #FB9337;
	text-decoration: none;
}

.announcement p a:hover {
	text-decoration: underline;
}

.noticebar a.close {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 5px;
	right: 5px;
	cursor: pointer;
	background: url("/assets/admin/images/icons/close.png") no-repeat;
}

.noticebar a.close:hover {
	background-position: 0 -14px;
}

/*********************
*style of widget box
**********************/
.widgetbox {
	margin-bottom: 20px;
}

.widgetbox .title {
	padding: 0 20px 5px 0;
	margin: 20px 0;
	display: inline-block;
	_display: inline;
	zoom: 1;
	border-bottom: 2px solid #FB9337;
}

.widgetbox .title h4 {
	font-weight: bold;
	color: #666;
}

.widgetbox dl dt {
	padding: 10px;
	border: 1px solid #DDD;
	border-bottom: 0;
	background: #F1F1F1;
	text-align: center;
	position: relative;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
}

.widgetbox dl dt span.number {
	font-size: 22px;
	font-weight: bold;
	color: #333;
	line-height: 1.5;
}

.widgetbox dl dd {
	border: 1px solid #DDD;
	line-height: 21px;
	border-bottom: none;
}

.widgetbox dl dd.last {
	border-bottom: 1px solid #DDD;
}

.widgetbox dl dd .left {
	padding: 10px;
}

.widgetbox dl dd .avatar {
	border: 1px solid #EEEEEE;
	float: left;
	margin-right: 10px;
	_margin-right: 5px;
	padding: 2px;
}

.widgetbox dl dd .avatar img {
	height: 35px;
	vertical-align: top;
	width: 35px;
}

.widgetbox dl dd .name {
	text-transform: uppercase;
	font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.widgetbox dl dd .name a {
	font-weight: bold;
	text-decoration: none;
	color: #666;
}

.widgetbox dl dd .name a:hover {
	color: #32415A;
}

.widgetbox dl dd .describe {
	color: #FB9337;
}

.widgetbox dl dd .right {
	background-color: #FCFCFC;
	padding: 10px;
	border-left: 1px solid #DDD;
}

.widgetbox dl dd .right p {
	color: #666;
	text-align: right;
}

.widgetbox dl dd .right p.num {
	font-size: 24px;
	font-weight: bold;
}

.widgetbox dl dd .right p.text {
	font-size: 14px;
	font-weight: bold;
}

#dialog-handler {
	display: none;
}

.centerlist{
	width:98%;
	min-width:1200px;
	margin:0px auto;
}

.logincontent{
	
}



.label {
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	background-color: #fff;
	padding:2px 6px;
	margin-right:3px;
}

.head-buttons{
	margin:10px 20px;
}
.head-buttons button{
	display:inline-block;
}